.has-addon {
  @apply bg-dark-black;
  .input {
    width: calc(100% - 3.5rem);
   // @apply rounded-r-none;
  }

  .addon {
    @apply border-l-0 text-gray-100 font-semibold absolute  right-0 w-14 top-0 h-full text-sm px-2 flex border items-center justify-center cursor-pointer select-none;

  &.textarea {
    @apply h-auto w-full pt-4;
  }

  &-round {
    @apply h-10 rounded-3xl;
  }
}

.input-wrap .addon {
  @apply text-gray-300;
}

.is-valid {
  .input {
    @apply border-primary-500;
  }
}

.addon-max,
.addon-min {
  @apply absolute right-0 top-0.5 h-full select-none cursor-pointer mt-2;
}

.input {
  @apply  w-full text-white rounded-md px-3 w-full h-10 text-xs outline-none appearance-none max-w-full font-sora;
  background-color: transparent;
  &[type='number']::-webkit-inner-spin-button,
  &[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &:focus {
    @apply border-gray-700;
  }

  &::placeholder {
    @apply text-xs opacity-40;
  }

  &[disabled] {
    @apply pointer-events-none cursor-not-allowed bg-gray-700;
  }
}

.leverage-input {
  @apply font-mono ml-2 w-14 py-1 text-sm text-right rounded-lg appearance-none bg-gray-900 text-gray-300;

  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  &[type='number'] {
    -moz-appearance: textfield;
  }
}


.v-select.input {
  @apply px-1 h-11 font-sora rounded-md border border-light-blue-dark border-opacity-50 bg-dark-black ;

  .vs__search {
    @apply text-xs opacity-75 text-gray-400 ;
  }

  .vs__dropdown-toggle {
    width: 100%;
    height: 100%;
    //border: none !important;
  }

  .vs__dropdown-menu {
    @apply bg-dark-black text-gray-200 px-2;
  }

  .vs__selected {
    @apply text-gray-50 font-sora ;
  }

  .vs__dropdown-option {
    @apply text-gray-200 font-semibold text-sm rounded py-3 px-2;
  }

  .vs__actions {
    @apply cursor-pointer;
  }

  .vs__actions svg {
    @apply text-gray-200;
  }

  .vs__actions svg path {
    @apply fill-current;
  }

  .vs__dropdown-option--highlight {
    @apply text-white bg-dark-black ;
  }
}

.v-select.input-select.vs--open {
  @apply border border-primary-500 bg-gray-800 text-gray-400;

  .input {
    @apply shadow-none text-gray-200;
  }

  .vs__selected {
    @apply opacity-100 text-gray-200;
  }
}
